src/main/resources/Izvestaji.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://korenski/soap/izvestaji_model"
           targetNamespace="http://korenski/soap/izvestaji_model" elementFormDefault="qualified">

    <xs:element name="izvestajRequest">
     	<xs:complexType>
            <xs:sequence>
                <xs:element name="zahtev" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="izvestajResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="odgovor" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    
</xs:schema>